@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind v4 theme tokens */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Choose ONE default font */
  --font-sans: var(--font-inter), sans-serif;
  --font-navbar: var(--font-helvetica-now), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Let Tailwind control the font */
body {
  background: var(--background);
  color: var(--foreground);
}
