@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind v4 theme tokens */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Choose ONE default font */
  --font-sans: var(--font-inter), sans-serif;
  --font-navbar: var(--font-helvetica-now), sans-serif;
}
@layer utilities {
  .containerNav {
    @apply max-w-[1440px] px-4 lg:px-2  py-2 mx-auto;
  }
  .container {
    @apply max-w-[72.72rem] px-4 py-2 mx-auto;
  }
  .primaryColor{
    @apply text-[#ffffff]
  }
  .secondaryColor{
    @apply text-[#3448ff]
  }
    .accentColor{
    @apply text-[#aede5b]
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Let Tailwind control the font */
body {
  background: var(--background);
  color: var(--foreground);
}

/* Marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.marquee {
  animation: marquee 30s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.glassEffect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}